
  
  #video_background {
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: auto;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
}
#video_pattern {
	background-image: url(./pattern.png);
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
}
